.addPostWrapper {
  width: 100%;
  margin: 25px 0;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.input,
.input:focus {
  flex-grow: 1;
  margin-right: 25px;
  padding: 10px 15px;
  border: 1px solid #dcdde1;
  border-radius: 5px;
  color: #434343;
}

.button, .button:focus {
  height: 35px;
  width: 150px;
  background-color: transparent;
  border: 1px solid #7f8fa6;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #353b48;
  transition: background-color .3s, color .3s;
}

.button:hover {
  color: #fff;
  background-color: #7f8fa6;
}