.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.userTitle {
  font-weight: 700;
  font-size: 1.7rem;
}

.postsInfo {
  font-weight: 700;
  color: #34495e;
}