.searchWrapper {
  width: 100%;
  margin: 25px 0;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.searchInput, .searchInput:focus {
  flex-grow: 1;
  margin-right: 25px;
  padding: 10px 15px;
  border: 1px solid #dcdde1;
  border-radius: 5px;
  color: #434343;
}

.button, .button:focus {
  height: 38px;
  color: #353b48;
  background-color: transparent;
  border: 1px solid #7f8fa6;
  padding: 0 15px;
  cursor: pointer;
}

.button:nth-of-type(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button:nth-of-type(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active, .active:focus {
  background-color: #7f8fa6;
  color: #fff;
}